:root {
    --primary-color: #333;
    --secondary-color: #666;
    --footer-bg-color: #f8f8f8;
}
* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    width: 90%;
    margin: auto;
}
h1 {
    color: #333;
    font-size: 220%;
    margin: 50px 0 50px 0;
}
h2 {
    color: #666;
    width: 95%;
    margin: 0 auto;
    font-size: 175%;
}
p {
    margin-bottom: -5px;
}

figure {
    margin: 0;
}
figcaption {
    font-size: 0.875rem;
    color: var(--secondary-color);
    position: relative;
    top: -65px;
    text-align: left;
    width: 350px;
    max-width: 60%;
    margin: 0 auto;
}

main {
    font-family: 'Inter', sans-serif;
    font-size: 110%;
    width: 85%;
    margin: 0 auto;
    text-align: justify;
    flex: 1 0 auto;
}
main img {
    display: block;
    margin: 0 auto 70px auto;
    width: 350px;
    max-width: 60%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}
main #text {
    margin-bottom: 65px;
}
main #apell {
    margin-bottom: 100px;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #f8f8f8;
    color: #333;
    font-size: 0.875em;
    flex-shrink: 0;
}
.footer-logo {
    text-align: center;
    margin-bottom: 10px;
}
.footer-logo img {
    width: 50px;
    height: auto;
}